<html lang="en">
<head>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" ></link>
  <script src="/bower_components/jquery/dist/jquery.min.js" ></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>

  <link rel="stylesheet" href="/assets/css/custom.css" ></link>
</head>
<body class="container">

    <h1>Terms of Service</h1>
    <h2>Heading 2 YAY!</h2>
    <p class="important-paragraph sign-up-paragraph">Hey this is a paragraph</p>
    <p class="important-paragraph">Hey this is a line</p>

</body>
</html>
